trigger:
- main

pool:
  vmImage: windows-latest

variables:
  solutionName: RogCorpMain_Patch
  solutionFolder: $(Build.SourcesDirectory)\solution
  packedSolution: $(Build.ArtifactStagingDirectory)\patch.zip

steps:

- checkout: self
  clean: true

# Install PAC
- task: PowerPlatformToolInstaller@2

# Export PATCH (not base)
- task: PowerPlatformExportSolution@2
  inputs:
    authenticationType: PowerPlatformSPN
    PowerPlatformSPN: Sales_Env_SC
    SolutionName: $(solutionName)
    SolutionOutputFile: '$(solutionFolder)\patch.zip'
    Managed: false

# Unpack
- script: |
    pac solution unpack ^
      --zipfile "$(solutionFolder)\patch.zip" ^
      --folder "$(solutionFolder)" ^
      --packagetype Unmanaged ^
      --allowDelete true
  displayName: Unpack patch

# Replace JS
- script: |
    copy "$(Build.SourcesDirectory)\src\WebResources\rogcorp_test_script.js" ^
         "$(solutionFolder)\WebResources\rogcorp_test_script.js"
  displayName: Inject JS

# Pack patch
- script: |
    pac solution pack ^
      --folder "$(solutionFolder)" ^
      --zipfile "$(packedSolution)" ^
      --packagetype Unmanaged
  displayName: Pack patch

# Import patch
- task: PowerPlatformImportSolution@2
  inputs:
    authenticationType: PowerPlatformSPN
    PowerPlatformSPN: Sales_Env_SC
    SolutionInputFile: '$(packedSolution)'
    AsyncOperation: true
    MaxAsyncWaitTime: 60

# Publish
- task: PowerPlatformPublishCustomizations@2
  inputs:
    authenticationType: PowerPlatformSPN
    PowerPlatformSPN: Sales_Env_SC
